<header id="header" class='container'>

  <div class='row'>

    <div id='logo' class='fourcol'>
      <img src='/img/logo-128x128.png'>
    </div> <!-- end of #logo -->

    <div id='title' class='sixcol'>
      <h1>ghostbar</h1>
      <p id='tagline'>Random thoughts on technology.</p>
    </div> <!-- end of #title -->

    <div id='tla' class='twocol last'>
      <h2>
      <ul>
        <li><a href="http://www.oxagile.com/services/open-source-application-customization/joomla-web-development">Joomla customization services</a></li>
        <li><a href="http://www.maxicard.de/plastikkarten/chipkarten.htm">Chipkarten</a></li>
      </ul> 
    </div>

  </div> <!-- end of .row -->
  
</header> <!-- end of #header.container -->
