.btn
  padding 0.33em 0.77em !important
  .icon
    height 22px !important
    width 28px !important
.subheader
  .title
    font-size 0.44em !important
  .btn-next
    .icon-next
      background-position -175px 0 !important
  .btn-back
    .icon-back
      background-position -275px 0 !important
