<header id="header" class='container'>

  <div class='row'>

    <div id='logo' class='twocol'>
      <a href='/'><img src='/img/logo-128x128.png'></a>
    </div> <!-- end of #logo -->

    <div id='title' class='sixcol'>
      <h1><a href='/'>ghostbar</a></h1>
      <p id='tagline'>Random thoughts on technology</p>
    </div> <!-- end of #title -->

    <div id='menu' class='twocol'>
      <ul>
        <li><a href='/archive.html'>Archive</a></li>
        <li><a href='https://twitter.com/ghostbar'>Twitter</a></li>
        <li><a href='https://github.com/ghostbar'>GitHub</a></li>
        <li><a href='https://diasp.org/people/3002f1a079ac0132b39800259069449e'>Diaspora*</a></li>
        <li><a href='/keys'>PGP&OTR keys</a></li>
      </ul>
    </div> <!-- end of #menu -->

  </div> <!-- end of .row -->

  <div class='clearfix'></div>
  
</header> <!-- end of #header.container -->
