article
  .content
    pre
      background $grey-light
      overflow auto
      padding 0.33em
      border 1px solid $grey-medium
      border-radius 0.2em

    code
      background $grey-light
      border 1px solid $grey-medium
      border-radius 0.15em
