article
  .content
    pre
      background $grey-light
      overflow auto
      padding 0.33em
      border 1px solid $grey-medium
      border-radius 0.2em

    code
      background $grey-light
      border 1px solid $grey-medium
      border-radius 0.15em

#first-post
  h1
    font-size 1.66em

#featured-posts
  h1
    font-size 1.33em

article.post
  h1
    font-size 1.66em
