article
  .content
    pre
      display inline-block
      overflow auto
      padding 0.33em

    code,pre
      background $code-bg
      font-family 'Inconsolata', monospace

#first-post
  h1
    font-size 1.66em

#featured-posts
  h1
    font-size 1.33em

article.post
  h1
    font-size 1.66em
