footer#footer
  color $white
  padding-top 0.33em
  padding-bottom 0.33em
  background url(../img/wild_oliva.png)
  margin-top 2em
  margin-bottom 2em
  a,a:visited
    color $white
    font-weight 700
